.kb-norm {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kb-maj {
  display: none;
}

.kb-secondary-key {
  background-color: grey;
  border: 1px solid white;
}
