

.tab-container.small-tab {
      display: flex;
      flex-direction: row;
}

.small-tab {
    .tab-item {
      cursor: pointer;
      margin: 0.5em;
      border-bottom: solid 0.05em white;
      color: grey;
    }

    .tab-active {
      color: white;
    }
}

.tab-container.main-tab {
        display: flex;
        flex-direction: row;

}

.main-tab {
  .tab-item {
    cursor: pointer;
      margin: 0.5em;
      color: grey;
      font-size: 1.5em;
  }
  .tab-active {
    color: rgb(43, 165, 43);
  }
}

