$bg-letter: #282931;
$bg-current-letter: rgb(94, 192, 94);
$bg-current-letter-fail: red;

.game-container {
  display: flex;
  flex-wrap: wrap;
}
.manager-container {
  width: 65%;
  margin: auto;
}

.main-title {
  display: block;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  margin: 1.5em 0;
  margin-top: 30vh;
}

.play-button {
  padding: 1em 3.5em;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 18px;
  border: 0.1em solid white;
  display: block;
  margin: 1.5em auto;
  cursor: pointer;
    &:hover  {
      background-color: rgb(46, 173, 46);
    }
}

// Game related CSS

.letter {
  padding: 0.3em 0.2em;
  margin-top: 0.2em;
  text-align: center;
  font-size: 2em;
  background-color: $bg-letter;
}

.letter-fail.letter {
  color: $bg-current-letter-fail;
}

.letter-done {
  color:#474a54;
}

.letter-space {
  border: 0px;
  background-color: inherit;
  width: 0.7em;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.space-holder {
  width: 100%;
  height: 0.05em;
  background-color: $bg-letter;

}

.space-current {
  height: 0;
}

.letter-current {
  color: $bg-current-letter;
  animation: blinker 1s step-end infinite;
}

.letter-current-fail {
  color: $bg-current-letter-fail;
  animation: blinkerFail 1s step-end infinite;
}

@keyframes blinker {
  50% {
    background-color: $bg-current-letter;
    border-radius: 10%;
    color: white;
  }

}

@keyframes blinkerFail {
  50% {
    background-color: $bg-current-letter-fail;
    border-radius: 10%;
    color: white;
  }

}
