$bg-letter: rgb(49, 50, 55);
$bg-current-letter: rgb(94, 192, 94);


.game-container {
  display: flex;
}
.manager-container {
  width: 80%;
  margin: auto;

}

.main-title {
  font-size: 1.4em;
  margin: 1em 0 1em 1em;
  font-weight: 500;
}

.letter {
  padding: 0.3em 0.2em;
  text-align: center;
  font-size: 2em;
  background-color: $bg-letter;
}

.letter-space {
  border: 0px;
  background-color: inherit;
  width: 0.7em;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.space-holder {
  width: 100%;
  height: 0.1em;
  background-color: $bg-letter;

}

.letter-current {
  color: $bg-current-letter;
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    background-color: $bg-current-letter;
    border-radius: 10%;
    color: white;
  }

}
