<main class="manager-container" (window:keydown)="onKeyType($event)">
  <h1 class="main-title">Ready to train ?</h1>
  <app-option #option></app-option>
  <p>{{option.listLength}}</p>
  <div class="game-container" >
    <div class="letter"
    *ngFor="let letter of listManagerProperty.listLetter;let i=index"
    [class.letter-space]="letter === ' '"
    [class.letter-current]="i === listManagerProperty.currentLetter && !listManagerProperty.isFailing"
    [class.letter-current-fail]=" i === listManagerProperty.currentLetter && listManagerProperty.isFailing"
    [class.letter-done]="i < listManagerProperty.currentLetter"
    >
      {{letter}}
      <div class="space-holder" *ngIf="letter === ' '"
      [class.space-current]="i === listManagerProperty.currentLetter"
      ></div>
    </div>
  </div>


</main>
