

.keyboard-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(60, 1.7777%);
  grid-template-rows: repeat(20, 5%);
  aspect-ratio: 60/20;

}

.kb-norm {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kb-maj {
  display: none;
}

.kb-secondary-key {
  background-color: grey;
  border: 1px solid white;
}

.kb-main-key {
  background-color: rgba(8, 8, 105, 0.589);
  border: 1px solid black;
}

.kb-main-key:hover {
  border-color: white;
}

.view {
  margin-bottom: 1em;
}

.view-radio {
  margin-right: 1em;
}

.view-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}




