

.keyboard-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(60, 1.7777%);
  grid-template-rows: repeat(20, 5%);
  aspect-ratio: 60/20;

}

.kb-norm {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kb-maj {
  display: none;
}

.kb-secondary-key {
  background-color: grey;
  border: 1px solid white;
}

.kb-main-key {
  background-color: red;
  border: 1px solid black;
}


@mixin kb-row($row) {
  grid-row: calc($row * 4 - 3)/span 3;
}

@mixin kb-main-key {
  background-color: red;
  border: 1px solid black;
}

@mixin kb-secondary-key {
  background-color: grey;
  border: 1px solid white;

}




