<div class="option-container">
<div class="keyboard-container">
<!--First row-->
<div class="kb-expo"><div class="kb-norm">²</div></div>
<div class="kb-1"><div class="kb-norm">&</div><div class="kb-maj">1</div></div>
<div class="kb-2"><div class="kb-norm">é</div><div class="kb-maj">2</div></div>
<div class="kb-3"><div class="kb-norm">"</div><div class="kb-maj">3</div></div>
<div class="kb-4"><div class="kb-norm">'</div><div class="kb-maj">4</div></div>
<div class="kb-5"><div class="kb-norm">(</div><div class="kb-maj">5</div></div>
<div class="kb-6"><div class="kb-norm">-</div><div class="kb-maj">6</div></div>
<div class="kb-7"><div class="kb-norm">è</div><div class="kb-maj">7</div></div>
<div class="kb-8"><div class="kb-norm">_</div><div class="kb-maj">8</div></div>
<div class="kb-9"><div class="kb-norm">ç</div><div class="kb-maj">9</div></div>
<div class="kb-0"><div class="kb-norm">à</div><div class="kb-maj">0</div></div>
<div class="kb-close-par"><div class="kb-norm">)</div><div class="kb-maj">°</div></div>
<div class="kb-equal"><div class="kb-norm">=</div><div class="kb-maj">+</div></div>
<div class="kb-back"><div class="kb-norm">retour</div></div>

<!--Second row-->
<div class="kb-tab"><div class="kb-norm">tab</div></div>
<div class="kb-A"><div class="kb-norm">A</div></div>
<div class="kb-Z"><div class="kb-norm">Z</div></div>
<div class="kb-E"><div class="kb-norm">E</div></div>
<div class="kb-R"><div class="kb-norm">R</div></div>
<div class="kb-T"><div class="kb-norm">T</div></div>
<div class="kb-Y"><div class="kb-norm">Y</div></div>
<div class="kb-U"><div class="kb-norm">U</div></div>
<div class="kb-I"><div class="kb-norm">I</div></div>
<div class="kb-O"><div class="kb-norm">O</div></div>
<div class="kb-P"><div class="kb-norm">P</div></div>
<div class="kb-chapo"><div class="kb-norm">^</div></div>
<div class="kb-dolls"><div class="kb-norm">$</div></div>
<div class="kb-enter-upper"><div class="kb-norm">enter</div></div>

<!-- Third row-->
<div class="kb-caps"><div class="kb-norm">P</div></div>
<div class="kb-Q"><div class="kb-norm">P</div></div>
<div class="kb-S"><div class="kb-norm">P</div></div>
<div class="kb-D"><div class="kb-norm">P</div></div>
<div class="kb-F"><div class="kb-norm">P</div></div>
<div class="kb-G"><div class="kb-norm">P</div></div>
<div class="kb-H"><div class="kb-norm">P</div></div>
<div class="kb-J"><div class="kb-norm">P</div></div>
<div class="kb-K"><div class="kb-norm">P</div></div>
<div class="kb-L"><div class="kb-norm">P</div></div>
<div class="kb-M"><div class="kb-norm">P</div></div>
<div class="kb-pourcent"></div>
<div class="kb-asterix"></div>
<div class="kb-enter-lower"></div>

<!-- Fourth row -->
<div class="kb-left-shift"></div>
<div class="kb-greater"></div>
<div class="kb-W"></div>
<div class="kb-X"></div>
<div class="kb-C"></div>
<div class="kb-V"></div>
<div class="kb-B"></div>
<div class="kb-N"></div>
<div class="kb-question"></div>
<div class="kb-point"></div>
<div class="kb-slash"></div>
<div class="kb-exclamation"></div>
<div class="kb-rigth-shift"></div>

<!-- Fifth row-->
<div class="kb-left-ctrl"></div>
<div class="kb-windows"></div>
<div class="kb-alt"></div>
<div class="kb-space"></div>
<div class="kb-alt-gr"></div>
<div class="kb-fn"></div>
<div class="kb-copy"></div>
<div class="kb-rigth-ctrl"></div>


</div>

</div>
